body {
    background-color: #F0F8FF;
}
h2 {
    text-align:center;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}
table {
    border: 3px solid #00008B;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}
thead {
    background-color: #6495ED;
}
th {
    font-family: 'Roboto', sans-serif;
}
td {
   text-align: justify;
   border: 1px solid #00008B;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
}
.code {
    font-family: 'Roboto', sans-serif;
}